.login-btn:focus {
    outline: 0;
}

.adopt-div {
    display: flex;

    .btn:focus {
        outline: 0;
    }
}

.sort-select:focus-visible {
    outline: none;
}

.delete-btn {
    float: right;
}

.benefit-name {
    margin: auto;
}